{{!-- Action Type --}}
<div class="form-group select">
    <label>Action Type</label>
    <select name="data.actionType">
        {{#select data.actionType}}
        <option value=""></option>
        {{#each config.itemActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{#if data.actionType}}

{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>Attack Roll Bonus</label>
    <div class="form-fields">
        <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" placeholder="Formula"/>
    </div>
</div>

<div class="form-group">
    <label>Critical Threat Range</label>
    <div class="form-fields">
        <input type="text" name="data.ability.critRange" value="{{data.ability.critRange}}" data-dtype="Number"/>
    </div>
</div>

<div class="form-group">
    <label>Critical Multiplier</label>
    <div class="form-fields">
        <input type="text" name="data.ability.critMult" value="{{data.ability.critMult}}" data-dtype="Number"/>
    </div>
</div>
<div class="form-group">
    <label>Critical Confirm Bonus</label>
    <div class="form-fields">
        <input type="text" name="data.critConfirmBonus" value="{{data.critConfirmBonus}}" placeholder="Formula"/>
    </div>
</div>

{{!-- Attack Ability --}}
<div class="form-group select">
    <label>Attack Ability</label>
    <select name="data.ability.attack">
        {{#select data.ability.attack}}
        <option value=""></option>
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<h4 class="attack-header">
    Extra Attacks
    <a class="attack-control add-attack"><i class="fas fa-plus"></i></a>
</h4>
<ol class="attack-parts form-group">
    {{#each data.attackParts as |part a|}}
    <li class="attack-part flexrow" data-attack-part="{{a}}">
        <input type="text" name="data.attackParts.{{a}}.0" placeholder="Attack Bonus/Penalty" value="{{lookup this "0"}}"/>
        <input type="text" name="data.attackParts.{{a}}.1" placeholder="Attack Name" value="{{lookup this "1"}}"/>
        <a class="attack-control delete-attack"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
</ol>
{{/if}}

{{!-- Damage Ability --}}
<div class="form-group select">
    <label>Damage Ability</label>
    <select name="data.ability.damage">
        {{#select data.ability.damage}}
        <option value=""></option>
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
    <select name="data.ability.damageMult" data-dtype="Number">
        {{#select data.ability.damageMult}}
        <option value="0.5">x0.5</option>
        <option value="1" {{#unless data.ability.damageMult}}selected="selected"{{/unless}}>x1</option>
        <option value="1.5">x1.5</option>
        <option value="2">x2</option>
        {{/select}}
    </select>
</div>

{{!-- Damage Formula --}}
<h4 class="damage-header">
    {{#unless isHealing }}Damage{{ else }}Healing{{/unless}} Formula
    <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group">
    {{#each data.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="data.damage.parts.{{i}}.0" placeholder="Damage Formula" value="{{lookup this "0"}}"/>
        <input type="text" name="data.damage.parts.{{i}}.1" placeholder="Damage Type(s)" value="{{lookup this "1"}}"/>
        <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
</ol>

{{!-- Saving Throw --}}
<div class="form-group input-select">
    <label>Saving Throw</label>
    <div class="form-fields">
        <input type="text" name="data.save.dc" value="{{data.save.dc}}" placeholder="DC"/>
        <select name="data.save.type">
            {{#select data.save.type}}
            <option value="">N/A</option>
            {{#each config.savingThrows as |savingThrowType a|}}
            <option value="{{a}}">{{savingThrowType}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Attack Notes --}}
{{#if hasAttackRoll }}
<div class="form-group stacked">
    <label>Attack Notes</label>
    <textarea type="text" name="data.attackNotes">{{data.attackNotes}}</textarea>
</div>
{{/if}}

{{!-- Effect Notes --}}
<div class="form-group stacked">
    <label>Effect Notes</label>
    <textarea type="text" name="data.effectNotes" style="white-space: pre">{{data.effectNotes}}</textarea>
</div>
{{/if}}