<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    <h3 class="item-name">{{item.name}}</h3>
  </header>

  <div class="card-content">
    {{{data.description.value}}}
  </div>

  <footer class="card-footer">
    {{#if isSpell}}
    {{#if spellFailure}}
    <h3>Spell Failure</h3>
    <div class="dice-roll">
      <div class="dice-result">
        <h4 class="dice-total spell-failure {{#unless spellFailureSuccess}}failure{{/unless}}">{{spellFailure}}</h4>
      </div>
    </div>
    {{/if}}
    {{/if}}
    {{#if data.materials.value}}
    <p><strong>{{ localize "PF1.ChatReqMats" }}.</strong> {{data.materials.value}}</p>
    {{/if}}

    {{#each data.properties}}
    <span>{{{this}}}</span>
    {{/each}}
  </footer>
</div>
