<form class="flexcol {{cssClasses}}" autocomplete="off">

    <!-- Token Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="character"><i class="fas fa-user"></i> {{localize "Character"}}</a>
        <a class="item" data-tab="image"><i class="fas fa-expand"></i> Image</a>
        <a class="item" data-tab="position"><i class="fas fa-map-marker-alt"></i> Position</a>
        <a class="item" data-tab="vision"><i class="fas fa-eye"></i> Vision</a>
        <a class="item" data-tab="resources"><i class="fas fa-heart"></i> Resources</a>
    </nav>

    <!-- Token Character -->
    <div class="tab" data-tab="character">
        <p class="notes">{{localize "TOKEN.CharInstructions"}}</p>
        <div class="form-group">
            <label>{{localize "TOKEN.CharNameplate"}}</label>
            <input type="text" name="name" placeholder="Name" value="{{object.name}}" data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.CharShowNameplate"}}:</label>
            <select name="displayName" data-dtype="Number">
                {{#select object.displayName}}
                {{#each displayModes as |name mode|}}
                <option value="{{mode}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.CharActor"}}:</label>
            <select class="actor-template" name="actorId">
                {{#select object.actorId}}
                <option value="">None</option>
                {{#each actors}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.CharLink"}}:</label>
            <input type="checkbox" name="actorLink" data-dtype="Boolean" {{checked object.actorLink}}/>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.CharDisposition"}}:</label>
            <select name="disposition" data-dtype="Number">
                {{#select object.disposition}}
                {{#each dispositions as |value name|}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <!-- Token Image -->
    <div class="tab" data-tab="image">
        <p class="notes">{{localize "TOKEN.ImageInstructions"}}</p>

        <div class="form-group">
            <label>{{localize "TOKEN.ImagePath"}}:</label>
            <div class="form-fields">
                {{filePicker target="img" type="imagevideo"}}
                <input class="image" type="text" name="img" placeholder="path/image.png" value="{{object.img}}"/>
            </div>
        </div>

        {{#if isPrototype}}
        <div class="form-group">
            <label>{{localize "TOKEN.RandomImg"}}:</label>
            <input type="checkbox" name="randomImg" data-dtype="Boolean" {{checked object.randomImg}}/>
        </div>
        {{else if hasAlternates}}
        <div class="form-group">
            <label>{{localize "TOKEN.ImageAlts"}}:</label>
            <select class="alternate-images" name="alternateImages">
                <option value=""></option>
                {{#each alternateImages as |name path|}}
                <option value="{{path}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}

        <div class="form-group">
            <label>{{localize "Width"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="width" placeholder="units" value="{{object.width}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{localize "Height"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="height" placeholder="units" value="{{object.height}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{localize "Scale"}} <span class="units">({{localize "Ratio"}})</span>:</label>
            <div class="form-fields">
                <input type="range" name="scale" value="{{object.scale}}" min="0.20" max="3.0" step="0.10" data-dtype="Number"/>
                <span class="range-value">{{object.scale}}</span>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.MirrorX"}}</label>
            <input type="checkbox" name="mirrorX" data-dtype="Boolean" {{checked object.mirrorX}}/>
        </div>

        {{#if version.v052}}
        <div class="form-group">
            <label>{{localize "TOKEN.MirrorY"}}</label>
            <input type="checkbox" name="mirrorY" data-dtype="Boolean" {{checked object.mirrorY}}/>
        </div>
        {{/if}}
    </div>

    <!-- Token Position -->
    <div class="tab" data-tab="position">
        <p class="notes">{{localize "TOKEN.PositionInstructions"}}</p>
        <div class="form-group">
            <label>{{localize "XCoord"}} <span class="units">({{localize "Pixels"}})</span>:</label>
            <input type="text" name="x" value="{{object.x}}" data-dtype="Number" disabled/>
        </div>
        <div class="form-group">
            <label>{{localize "YCoord"}} <span class="units">({{localize "Pixels"}})</span>:</label>
            <input type="text" name="y" value="{{object.y}}" data-dtype="Number" disabled/>
        </div>
        <div class="form-group">
            <label>{{localize "Elevation"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="elevation" placeholder="units" value="{{object.elevation}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "Rotation"}} <span class="units">({{localize "Degrees"}})</span>:</label>
            <input type="text" name="rotation" value="{{object.rotation}}" data-dtype="Number" disabled/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.PositionLock"}}:</label>
            <input type="checkbox" name="lockRotation" data-dtype="Boolean" {{checked object.lockRotation}}/>
        </div>
    </div>

    <!-- Illumination and Vision -->
    <div class="tab" data-tab="vision">
        <p class="notes">{{localize "TOKEN.VisionInstructions"}}</p>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionHas"}}:</label>
            <input type="checkbox" name="vision" data-dtype="Boolean" {{checked object.vision}}/>
        </div>
        <div class="form-group">
            <label>Low Light Vision:</label>
            <input type="checkbox" name="visionLL" data-dtype="Boolean" {{checked actor.vision.lowLight}}/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionDimDist"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="dimSight" placeholder="units" value="{{object.dimSight}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionBrightDist"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="brightSight" placeholder="units" value="{{object.brightSight}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionSightAngle"}} <span class="units">({{localize "Degrees"}})</span>:</label>
            <input type="text" name="sightAngle" placeholder="units" value="{{object.sightAngle}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.VisionDimEmit"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="dimLight" placeholder="units" value="{{object.dimLight}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionBrightEmit"}} <span class="units">({{localize "GridUnits"}})</span>:</label>
            <input type="text" name="brightLight" placeholder="units" value="{{object.brightLight}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "TOKEN.VisionLightAngle"}} <span class="units">({{localize "Degrees"}})</span>:</label>
            <input type="text" name="lightAngle" placeholder="units" value="{{object.lightAngle}}" data-dtype="Number"/>
        </div>
        {{#if version.v052}}
        <div class="form-group">
            <label>{{ localize "LIGHT.LightColor" }}</label>
            <input class="color" type="text" name="lightColor" value="{{object.lightColor}}"/>
            <input type="color" value="{{object.lightColor}}" data-edit="lightColor"/>
        </div>
        <div class="form-group">
            <label>{{ localize "LIGHT.LightOpacity" }}</label>
            <div class="form-fields">
                <input type="range" name="lightAlpha" value="{{object.lightAlpha}}" min="0.0" max="1.0" step="0.05"
                       data-dtype="Number"/>
                <span class="range-value">{{object.lightAlpha}}</span>
            </div>
        </div>
        {{/if}}
    </div>

    <!-- Resource Bars -->
    <div class="tab" data-tab="resources">
        <p class="notes">{{localize "TOKEN.ResourceInstructions"}}</p>
        <div class="form-group">
            <label>{{localize "TOKEN.ResourceDisplay"}}:</label>
            <select name="displayBars" data-dtype="Number">
                {{#select object.displayBars}}
                {{#each displayModes as |name mode|}}
                <option value="{{mode}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.ResourceBar1A"}}:</label>
            <select class="bar-attribute" name="bar1.attribute">
                {{#select bar1.attribute}}
                <option value="">None</option>
                {{#each barAttributes as |attrs label|}}
                <optgroup label="{{ label }}">
                    {{#each attrs}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </optgroup>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.ResourceBar1D"}}:</label>
            <div class="bar-data flexrow">
                <input type="text" class="bar1-value" value="{{bar1.value}}" disabled/>
                <span class="sep">/</span>
                <input type="text" class="bar1-max" value="{{bar1.max}}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.ResourceBar2A"}}:</label>
            <select class="bar-attribute" name="bar2.attribute">
                {{#select bar2.attribute}}
                <option value="">None</option>
                 {{#each barAttributes as |attrs label|}}
                <optgroup label="{{localize label}}">
                    {{#each attrs}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </optgroup>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.ResourceBar2D"}}:</label>
            <div class="bar-data flexrow">
                <input type="text" class="bar2-value" value="{{bar2.value}}" disabled/>
                <span class="sep">/</span>
                <input type="text" class="bar2-max" value="{{bar2.max}}" disabled/>
            </div>
        </div>
    </div>

    <!-- Token Sheet Footer -->
    <footer class="sheet-footer flexrow">
        {{#if isPrototype}}
        <button type="button" class="assign-token"><i class="fas fa-user"></i> {{localize "TOKEN.Assign"}}</button>
        {{/if}}
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "TOKEN.Update"}}</button>
    </footer>
</form>
