<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li></li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
      <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="primary-body">
        {{> "systems/pf1/templates/items/parts/item-description.html"}}

        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">Item Details</h3>

            {{!-- Loot Type --}}
            <div class="form-group">
              <label>Item Type</label>
              <select name="data.subType">
                {{#select data.subType}}
                {{#each config.lootTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
        </div>
    </section>
</form>
