{{!-- Feat Navigation --}}
<nav class="sheet-navigation tabs subtabs feats" data-group="feats">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="feats-body">
{{#each sections as |section sid|}}
<div class="tab feats-group flexcol" data-group="feats" data-tab="{{sid}}">
  <ol class="inventory-list sub-scroll scroll-feats">
      <li class="inventory-header flexrow">
          <h3 class="item-name flexrow"></h3>

          {{#if section.hasActions}}
          <div class="item-detail item-actions"><span>Actions</span></div>
          <div class="item-detail item-uses"><span>Charges</span></div>
          <div class="item-detail item-usage"><span>Usage</span></div>
          {{/if}}

          {{#if section.isClass}}
          <div class="item-detail item-feat-level"><span>Level</span></div>
          {{/if}}

          {{#if ../owner}}
          <div class="item-controls">
              {{#if section.canCreate}}
              <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus"></i> Add
              </a>
              {{/if}}
          </div>
          {{/if}}
      </li>

      <ol class="item-list">
      {{#each section.items as |item iid|}}
          <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
              <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4>{{item.name}}</h4>
              </div>

              {{#if section.hasActions}}
              <div class="item-detail item-actions">
                  <div class="item-attack">
                      {{#if item.hasAction}}
                      <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                      {{/if}}
                  </div>
              </div>

              <div class="item-detail item-uses flexrow">
                  {{#if item.data.uses.max}}
                  <input type="text" value="{{item.data.uses.value}}" data-dtype="Number"/>
                  <span class="sep"> of </span>
                  <input type="text" value="{{item.data.uses.max}}" disabled data-dtype="Number"/>
                  {{/if}}
              </div>
              <div class="item-detail item-usage">
                  {{#if item.data.activation.type }}
                  <span>{{item.labels.activation}}</span>
                  {{/if}}
              </div>
              {{else if section.isClass}}
              <div class="item-detail item-feat-level">
                  <span>Level {{item.data.levels}}</span>
              </div>
              {{/if}}

              {{#if ../../owner}}
              <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
          </li>
      {{/each}}
      </ol>
  </ol>
</div>
{{/each}}
</section>
